.skuWrapper{
  background-color: #fff;
  padding: 60px;
  font-family: sans-serif;
  width: 260px;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.specBox{
  text-align: left;
  font-size:  20px;
  margin: 5px 0 5px 0;
}
.specName{
  font-size: 16px;
  line-height: 24px;
  color: #262626;
  margin: 10px 0;
  font-weight: 500;
}
ul{
  display: flex;
}
ul li{
  margin-left: 20px;
  background-color: #f3f3f3;
  padding: 5px 10px 5px 10px;
  color: #505257;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid transparent;
}
li.active {
  background-color: #fef6f4;
  color: #e34a40;
  border-color:#e34a40;
}
li.disabled {
  background-color: #f3f3f3;
  color: #bebebe;
}
.checkOut{
  border: 1px solid #505257;
  color: #505257;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 6px;
  margin-top: 30px;
  text-align: center;
}
.selectedSpec, .price, .stock{
  font-size: 16px;
  text-align: left;
  color: #505257;
}